<!-- {{title}}
<h1 class="display-1">Hello Dear</h1> -->

<!-- <app-header></app-header>
<app-topnav></app-topnav>
<app-txt-block-left></app-txt-block-left>
<app-txt-block-right></app-txt-block-right> -->

<!-- <h1 class="display-h1">Binding Demo</h1> -->
<!-- <h1>One way binding</h1>
<app-oneway-binding></app-oneway-binding>
<h1>Two way binding</h1>
<app-twoway-binding></app-twoway-binding> -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <h1>Angular Directives</h1> -->
<!-- <app-ng-if-demo></app-ng-if-demo> -->

<!-- <app-ng-switch-demo></app-ng-switch-demo> -->

<!-- <app-ng-for-demo></app-ng-for-demo> -->


<!-- <app-angular-pipe-demo></app-angular-pipe-demo> -->
<header>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="header">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/onewaybinding">One Way Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/twowaybinding">Two Way Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/eventbinding">Event Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/pipe">Pipe</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Directives
            </a>
            <ul class="dropdown-menu">
                <a class="nav-link active" aria-current="page" routerLink="/ngif">NgIf</a>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="ngfor">NgFor</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="ngswitch">NgSwitch</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="product">Input Decorator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="parent">Parent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="service">UtilityService</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>