<!-- {{title}}
<h1 class="display-1">Hello Dear</h1> -->

<!-- <app-header></app-header>
<app-topnav></app-topnav>
<app-txt-block-left></app-txt-block-left>
<app-txt-block-right></app-txt-block-right> -->

<!-- <h1 class="display-h1">Binding Demo</h1> -->
<!-- <h1>One way binding</h1>
<app-oneway-binding></app-oneway-binding>
<h1>Two way binding</h1>
<app-twoway-binding></app-twoway-binding> -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <h1>Angular Directives</h1> -->
<!-- <app-ng-if-demo></app-ng-if-demo> -->

<!-- <app-ng-switch-demo></app-ng-switch-demo> -->
<!-- 
<app-ng-for-demo></app-ng-for-demo> -->


<app-angular-pipe-demo></app-angular-pipe-demo>