<div class="txt-sec">
    <h2 class="heading-red">What is AngularJS?</h2>
    <p>AngularJS is an open source Model-View-Controller framework which is similar to the JavaScript framework.
        Angular JS is probably one of the most popular modern day web frameworks available today. This framework is used
        for developing mostly Single Page applications. This framework has been developed by a group of developers from
        Google itself.
        Because of the sheer support of Google and ideas from a wide community forum, the framework is always kept up to
        date. Also, it always incorporates the latest development trends in the market.</p>
    <a href="#" class="btn btn-red">Know more about Angular</a>
    <div class="clear"></div>
</div>